body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.task-form {
  margin-top: 1rem;
}

.simple-todos-react {
  margin: 0 auto;
  max-width: 512px;
}

.simple-todos-react .filters {
  margin-bottom: 1rem;
}
 
.simple-todos-react .tasks {
  padding: 0;
  margin: 0;
  list-style: none;
}
 
.simple-todos-react .tasks .task {
  display: flex;
  align-items: center;
  height: 32px;
}
 
.simple-todos-react .tasks .task span {
  flex-grow: 1;
}
 
.simple-todos-react .tasks .task button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
 
.simple-todos-react .tasks .task.checked span {
  text-decoration: line-through;
}
 
.simple-todos-react .task-form {
  margin-top: 1rem;
  display: flex;
}
 
.simple-todos-react .task-form input {
  flex-grow: 1;
}

simple-todos-react .login-form {
  margin-top: 2rem;
}
 
.simple-todos-react .login-form label,
.simple-todos-react .login-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
 
.simple-todos-react .login-form label {
  margin-bottom: .4rem;
}
 
.simple-todos-react .login-form input {
  margin-bottom: .8rem;
}
 
.simple-todos-react .login-form button[type=submit] {
  float: right;
}